.wrapper {
    transition: transform .3s ease, box-shadow 0.3s ease-in-out;
    background-color: #2A2D35;
    border-radius: 15px;
    margin: 10px; 
    overflow: hidden; 
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.661);
    user-select: none;
}

.wrapper:hover {
    transform: scale(1.05); /* Увеличиваем элемент при наведении */
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.596);
    transition: transform .3s ease, box-shadow 0.3s ease-in-out;
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-120%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideOut {
    animation: slideOutLeft 1s forwards;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slideIn {
    animation: slideInRight 1s forwards;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: rgba(255, 69, 0, 0.8);
    transform: rotate(-45deg);
    text-align: center;
    margin: 0;
    position: absolute;
    top: 65%;
    right: -36px;
    width: 100px;
    font-size: 14px;
    bottom: -10px;
    opacity: 0.45;
    font-family: "Shantell Sans", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    color: #FFFFFF;
}

.name {
    color: #E0E0E0;
    font-size: 14px;
    text-align: center;
    max-width: 94px;
    margin: 9px 3px 0 3px;
    z-index: 3;
    white-space: normal;
}

.number {
    color: #E0E0E0;
    font-size: 30px;
    text-align: center;
    max-width: 94px;
    margin: 3px 3px 0 3px;
    z-index: 3;
}

.image__container {
    width: 55px;
    margin: 0 auto;
}

.image {
    width: 55px;
    margin: -13px auto;
}

.author__reviews_container {
    display: flex;
    width: 70px;
    align-items: center;
    margin: 0 7px;
}

.author__reviews_container .image {
    width: 25px;
    height: 25px;
    background-color: #696969;
    padding: 3px;
    border-radius: 50%;
    margin: 0;
}

.person__name {
    color: #E0E0E0;
    margin: 0;
    margin-left: 10px;
}

.reviews__text {
    color: #E0E0E0;
    font-size: 14px;
    max-width: 194px;
    text-align: start;
    margin: 17px 7px 8px;
    height: 25px;
}

.image__container_services {
    margin-top: 10px;
    max-width: 40px;
    width: 100%;
    margin: 0 auto;
}

.image__services {
    max-width: 40px;
    width: 100%;
}

.name_services {
    color: #E0E0E0;
    font-size: 14px;
    text-align: center;
    max-width: 94px;
    height: 38px;
    margin: 5px 3px 7px 3px;
    z-index: 3;
    white-space: normal;
}



.image__container_double {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
    user-select: none;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Фиксированная высота для центрирования */
}

.slide_image {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain; /* Центрирование изображения и сохранение пропорций */
}

.slick-track {
    display: flex !important;
    width: 900px;
    opacity: 1;
    transform: translate3d(-200px, 0px, 0px);
    align-items: center !important;
}

.appearance__block_partner__container {
    transform: translateX(110%);
    user-select: none;
}

.block__partner_container {
    animation: swipe 1s forwards;
    user-select: none;
}

@keyframes swipe {
    0% {
        transform: translateX(110%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
